# Project folders
.mozz
.vs*
# .git*
# README*
ft_ls

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
sort_tests/msort
.mozz/test/diff
.DS_Store
.mozz/ft_out
.mozz/ft_out_1
.mozz/ft_out_2
.mozz/ls_diff
.mozz/ls_out
.mozz/ls_out_1
.mozz/ls_out_2
.mozz/valg_aout
.mozz/valg_out
.mozz/valg_out_1
.mozz/valg_out0519143300
.mozz/valg_out0519145136
.mozz/valg_out0519145808
.mozz/test/ft_out
.mozz/test/ft_output
.mozz/test/ls_c_output
.mozz/test/ls_cu_output
.mozz/test/ls_cuc_output
.mozz/test/ls_out
.mozz/test/ls_output
.mozz/test/ls_u_output
.mozz/test/ls_uc_output
.mozz/test/ls_ucu_output
.mozz/test/mouli_test/ft_out
.mozz/test/mouli_test/ls_out
